## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,60.80,77,79,19.35,broken clouds
1,1,Arlit,NE,18.7369,7.3853,84.85,9,0,4.72,clear sky
2,2,Busselton,AU,-33.6500,115.3333,61.16,65,0,8.41,clear sky
3,3,Bima,ID,-8.4667,118.7167,84.76,73,22,2.82,few clouds
4,4,Coihaique,CL,-45.5752,-72.0662,51.75,71,0,4.61,clear sky
5,5,Port Alfred,ZA,-33.5906,26.8910,61.18,93,94,1.01,overcast clouds
6,6,Broome,US,42.2506,-75.8330,66.67,68,40,6.91,scattered clouds
7,7,Marsabit,KE,2.3284,37.9899,65.53,83,10,15.97,clear sky
8,8,Avarua,CK,-21.2078,-159.7750,84.25,74,20,4.61,few clouds
9,9,Nikolskoye,RU,59.7035,30.7861,36.72,94,89,2.35,overcast clouds

In [14]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum Temperature you would like for your trip"))
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum Temperature you would like for your trip60
What is the maximum temperature you would like for your trip85

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,60.80,77,79,19.35,broken clouds
1,1,Arlit,NE,18.7369,7.3853,84.85,9,0,4.72,clear sky
2,2,Busselton,AU,-33.6500,115.3333,61.16,65,0,8.41,clear sky
3,3,Bima,ID,-8.4667,118.7167,84.76,73,22,2.82,few clouds
5,5,Port Alfred,ZA,-33.5906,26.8910,61.18,93,94,1.01,overcast clouds

In [19]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                3
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [20]:
preferred_cities_df.count()

City_ID                338
City                   338
Country                335
Lat                    338
Lng                    338
Max Temp               338
Humidity               338
Cloudiness             338
Wind Speed             338
Current Description    338
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bluff,NZ,-46.6000,168.3333,60.80,77,79,19.35,broken clouds
1,1,Arlit,NE,18.7369,7.3853,84.85,9,0,4.72,clear sky
2,2,Busselton,AU,-33.6500,115.3333,61.16,65,0,8.41,clear sky
3,3,Bima,ID,-8.4667,118.7167,84.76,73,22,2.82,few clouds
5,5,Port Alfred,ZA,-33.5906,26.8910,61.18,93,94,1.01,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
664,664,Port Antonio,JM,18.1800,-76.4612,80.51,84,18,10.69,few clouds
666,666,Somanda,TZ,-3.3667,33.9500,70.83,66,98,5.55,overcast clouds
667,667,Porto Calvo,BR,-9.0450,-35.3983,75.63,87,15,3.91,few clouds
668,668,Thinadhoo,MV,0.5333,72.9333,83.64,68,30,9.80,scattered clouds
669,669,Chimbote,PE,-9.0853,-78.5783,65.98,85,100,9.48,overcast clouds

In [28]:
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,60.80,broken clouds,-46.6000,168.3333,
1,Arlit,NE,84.85,clear sky,18.7369,7.3853,
2,Busselton,AU,61.16,clear sky,-33.6500,115.3333,
3,Bima,ID,84.76,few clouds,-8.4667,118.7167,
5,Port Alfred,ZA,61.18,overcast clouds,-33.5906,26.8910,
6,Broome,US,66.67,scattered clouds,42.2506,-75.8330,
7,Marsabit,KE,65.53,clear sky,2.3284,37.9899,
8,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,
12,Atuona,PF,78.98,light rain,-9.8000,-139.0333,
16,Hirara,JP,74.35,clear sky,24.8000,125.2833,

In [35]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params)
    hotels = hotels.json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel Isn't Found, skipping.")

Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.
Hotel Isn't Found, skipping.

In [37]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(40)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bluff,NZ,60.80,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
1,Arlit,NE,84.85,clear sky,18.7369,7.3853,Case de Passage De la Prefecture
2,Busselton,AU,61.16,clear sky,-33.6500,115.3333,Observatory Guest House
3,Bima,ID,84.76,few clouds,-8.4667,118.7167,Lambitu Hotel
5,Port Alfred,ZA,61.18,overcast clouds,-33.5906,26.8910,The Halyards Hotel
6,Broome,US,66.67,scattered clouds,42.2506,-75.8330,Chenango Valley State Park
7,Marsabit,KE,65.53,clear sky,2.3284,37.9899,Chicho Hotel
8,Avarua,CK,84.25,few clouds,-21.2078,-159.7750,Paradise Inn
12,Atuona,PF,78.98,light rain,-9.8000,-139.0333,Villa Enata
16,Hirara,JP,74.35,clear sky,24.8000,125.2833,Hotel Atoll Emerald Miyakojima
17,Port Elizabeth,ZA,63.32,broken clouds,-33.9180,25.5701,39 On Nile Guest House
18,Ponta Do Sol,PT,63.72,overcast clouds,32.6667,-17.1000,Hotel do Campo
21,Komatipoort,ZA,71.06,clear sky,-25.4332,31.9548,Kruger View Backpackers
24,Rikitea,PF,77.85,light rain,-23.1203,-134.9692,People ThankYou
28,Bethel,US,66.29,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
29,Likasi,CD,60.55,scattered clouds,-10.9814,26.7333,TABERNACLE DE LIKASI
30,Jamestown,US,66.18,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
31,Saint-Philippe,RE,74.79,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
33,Kapaa,US,82.38,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
36,East London,ZA,68.04,overcast clouds,-33.0153,27.9116,Tu Casa
38,San Quintin,MX,61.90,clear sky,30.4833,-115.9500,Don Eddie's Sport Fishing Center
39,Bol,TD,82.00,broken clouds,13.4586,14.7147,Harrouni camp de passage
43,Puerto Del Rosario,ES,64.15,overcast clouds,28.5004,-13.8627,Hotel JM Puerto del Rosario
44,Airai,TL,71.87,overcast clouds,-8.9266,125.4092,
45,Bandarbeyla,SO,78.96,few clouds,9.4942,50.8122,JABIR HOTEL
46,Mataura,NZ,60.48,few clouds,-46.1927,168.8643,Ellie's Villa
47,Albany,US,65.73,broken clouds,42.6001,-73.9662,
49,Yei,SS,68.47,overcast clouds,4.0950,30.6779,City Link Hotel
50,Dingle,PH,81.36,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
51,Badiraguato,MX,83.70,overcast clouds,25.3667,-107.5167,Restaurante La palma
53,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel
54,Castro,BR,61.56,few clouds,-24.7911,-50.0119,CHACARA BAILLY
57,Butaritari,KI,81.73,light rain,3.0707,172.7902,Isles Sunset Lodge
59,Bredasdorp,ZA,62.71,overcast clouds,-34.5322,20.0403,Bredasdorp Country Manor
60,Lompoc,US,64.78,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
61,Esperance,AU,64.24,overcast clouds,-33.8667,121.9000,Hospitality Esperance
62,Arraial Do Cabo,BR,76.96,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
63,Labuhan,ID,81.01,clear sky,-6.8844,112.2051,DoubleFAG
66,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
70,Nata,PA,82.06,overcast clouds,8.3333,-80.5167,Rey David

In [38]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}°F</dd>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity = 300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))